tqdm
pandas
tiktoken
transformers
Pygments
matplotlib
seaborn
tabulate
jedi-language-server
pytest
pydantic
pytest-asyncio
pygtrie
openai
code-tokenize
code-ast @ git+https://github.com/cedricrupb/code_ast@982940d04b1d721e5ac9a97d433f36d1fb47e8e0
--extra-index-url https://download.pytorch.org/whl/cu113
torch